[package]
name = "inputplumber"
version = "0.1.0"
edition = "2021"
license = "GPL-3.0-or-later"
description = "Open source input manager for Linux"

[package.metadata.generate-rpm]
assets = [
  { source = "./target/release/inputplumber", dest = "/usr/bin/inputplumber", mode = "755" },
  { source = "./rootfs/usr/share/dbus-1/system.d/org.shadowblip.InputPlumber.conf", dest = "/usr/share/dbus-1/system.d/org.shadowblip.InputPlumber.conf", mode = "644" },
  { source = "./rootfs/usr/lib/systemd/system/inputplumber.service", dest = "/usr/lib/systemd/system/inputplumber.service", mode = "644" },
  { source = "./rootfs/usr/share/inputplumber/devices/steam_deck.yaml", dest = "/usr/share/inputplumber/devices/steam_deck.yaml", mode = "644" },
]

[dependencies]
evdev = { git = "https://github.com/emberian/evdev.git", features = ["tokio"] }
glob-match = "0.2.1"
hidapi = "2.6.0"
#evdev = { version = "0.12.1", features = ["tokio"] }
inotify = "0.10.2"
log = "0.4.20"
packed_struct = "0.10.1"
serde = { version = "1.0.192", features = ["derive"] }
serde_yaml = "0.9.27"
simple_logger = "4.2.0"
thiserror = "1.0.56"
tokio = { version = "*", features = ["full"] }
uhid-virt = "0.0.7"
zbus = { version = "3.14.1", default-features = false, features = ["tokio"] }
zbus_macros = "3.14.1"

[profile.release]
debug = false
strip = true
lto = true
codegen-units = 1
