[Unit]
Description=Restart InputPlumber after resume
After=suspend.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block restart inputplumber.service

[Install]
WantedBy=suspend.target
