[Unit]
Description=InputPlumber Service

[Service]
Type=dbus
BusName=org.shadowblip.InputPlumber
Environment=LOG_LEVEL=info
ExecStart=/usr/bin/inputplumber

[Install]
WantedBy=multi-user.target
