[Unit]
Description=InputPlumber Service
After=graphical-session.target

[Service]
ExecStart=/usr/bin/inputplumber

[Install]
WantedBy=multi-user.target
