[Unit]
Description=InputPlumber Service

[Service]
StateDirectory=inputplumber
StateDirectoryMode=0700
Type=dbus
BusName=org.shadowblip.InputPlumber
Environment=LOG_LEVEL=info
ExecStart=/usr/bin/inputplumber
ProtectSystem=full

[Install]
WantedBy=multi-user.target
